<div class='navbar navbar-default navbar-static-top' ng-controller='GameHeaderController as gameHeaderCtrl'>
	<div class='container'>
		<div class='navbar-header'>
			<a href='{{ url('homepage') }}' class='navbar-brand'>Angular-Symfony-PostgreSQL Stock Tracker</a>
			
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<li>
				<a href='goal.html' data-target="#" data-toggle='dropdown'>Menu <span class='caret'></span></a>
				<ul class='dropdown-menu'>
					<li>Placeholder 1</li>
					<li class='divider'></li>
				</ul>
			</li>
			<li ng-show='gameHeaderCtrl.name.firstname'><a href="{{ url('logout') }}">Welcome {% verbatim %}{{gameHeaderCtrl.name.firstname}}{% endverbatim %}, Log out</a></li>
		</ul>
	</div>
</div>