<div class = "setup inset" ng-controller="SetupController as setupCtrl">
		<button class = 'btn btn-primary inset' ng-click="setupCtrl.setGame('new')">
			New Stock
		</button>
		<button class = 'btn btn-primary inset' ng-click="setupCtrl.setGame('continue')">
			Saved Stocks
		</button>
</div>