<div class = "setup inset" ng-controller="DashboardController as dashboardCtrl">
		<button class = 'btn btn-primary inset' ng-click="dashboardCtrl.setGame('new')">
			New Stock
		</button>
		<button class = 'btn btn-primary inset' ng-click="dashboardCtrl.setGame('continue')">
			Saved Stocks
		</button>
</div>